
body {
	margin: 0;
	padding: 0;
}

.header-bar {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #aaa;
	background-color: #ccc;
}

.header-bar ul li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.header-bar ul li a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.login-form {
        float:          right;
	border:		1px solid #000;
        margin-right:   10px;
	display:	none;
}

.logout-form {
        float:          right;
        margin-right:   10px;
	display:	none;
}


.vote-list {
	margin-top: 50px;

}

.issue {
	width: 90%;
	margin: 10px;
	padding: 10px;
}

.issue .issue-title {
	font-size: 150%;
}

.issue .issue-details {
}

.issue .vote {
	background-color: #999;
	padding: 4px;
	margin: 1px 4px;
	float: left;
}

.issue .vote.selecting {
	background-color: #bb7;
}

.issue .vote.selected {
	background-color: #7d7;
}

.issue .vote .up {

}

.issue .vote .down {
}
